{% extends 'base.html' %} {% load django_bootstrap5 %}

<!---->
{% block title %} Вход {% endblock title %}
<!---->
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Вход</h3>
    </div>
    <div class="card-body">
      <form method="POST">
        <!--  -->
        {% csrf_token %} {% bootstrap_form form %}
        <!--  -->
        <button class="btn btn-outline-success" type="submit">Войти</button>
      </form>
    </div>
    <div class="card-footer">
      <p>
        Нет аккаунта? Вы можете
        <a href="{% url 'users:registration' %}">зарегистрироваться</a>.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
