{% extends 'base.html' %}
<!---->
{% block title %} Товары {% endblock title %}
<!--  -->
{% block content %}
<div class="container">






    <nav aria-label="Page navigation example">
        <div>
    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
</div>
  <ul class="pagination">
                  {% if page_obj.has_previous %}

    <li class="page-item"><a class="page-link" href="?page=1">В начало</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% endif %}

                  {% if page_obj.has_next %}

    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">В конец</a></li>
            {% endif %}

  </ul>
</nav>

      <form method="get" class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Поиск по товарам" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Искать</button>
      </form>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for product in object_list %}

    <div class="col">
      <div class="card">
        {% if product.image %}
        <a
          href="{% url 'products:product_detail' product.pk %}"
          style="text-decoration: none; color: black"
        >
          <img
            src="{{product.image.url}}"
            class="card-img-top img-fluid"
            style="height: 200px; object-fit: contain;"
            alt="изображение товара"
          />
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{product.description}}</p>
          </div>
        </a>
        <div class="card-footer">
          <p class="card-text">Добавлено: {{ product.created_at }}</p>

          <div
            class="btn-group"
            role="group"
            aria-label="Basic mixed styles example"
          >
            <a
              href="{% url 'products:product_detail' product.pk %}"
              type="button"
              class="btn btn-success"
              >Подробнее</a
            >
            <a
              href="{% url 'products:product_update' product.pk %}"
              type="button"
              class="btn btn-warning"
              >Редактировать</a
            >
            <a
              href="{% url 'products:product_delete' product.pk %}"
              type="button"
              class="btn btn-danger"
              >Удалить</a
            >
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>



</div>
{% endblock content %}
