{% extends 'base.html' %}
<!--  -->
{% block title %} {{object}} {% endblock title %}
<!--  -->
{% block content %}
<div class="container">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{object.image.url}}"
          class="img-fluid rounded-start"
          alt="изображение товара"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{object.name}}</h5>
          <p class="card-text">{{object.description}}</p>

          <p class="card-text">Добавил: {{object.seller}}</p>
          <p class="card-text">
            <small class="text-body-secondary"
              >Добавлено: {{object.created_at}}</small
            >
            <br />
            <small class="text-body-secondary"
              >Обновлено: {{object.updated_at}}</small
            >
          </p>
        </div>
        <div class="card-footer">
                  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <a
              href="{% url 'products:product_update' object.pk %}"
              type="button"
              class="btn btn-warning"
              >Редактировать</a
            >
            <a
              href="{% url 'products:product_delete' object.pk %}"
              type="button"
              class="btn btn-danger"
              >Удалить</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
